<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArBank</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
    
    <div class="container_login">
    <form action="/users/login" method="POST">
        <h1>Logg inn på ArBank</h1>
        <label for="text"><input type="text" name="username_login" placeholder="brukernavn" /></label>
        <label for="password"><input type="password" name="password_login" placeholder="passord"></label>
        <button type="submit">bekreft</button>
    </form>
    </div>
</body>
</html>